
/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */ 
@media only screen and (min-width : 320px) {
    
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .page-content div small {
      font-size: px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .content-40prcnt,
    .forgot-pass-content
    {
        width: 40% !important;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
    .page-content div small {
        font-size: 9px;
    }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
    .login-content {
        width: 100%;
    }
    .page-content-cart div.product {
        width: 100%;
    }
    .window-content > div {
        width: 100% !important;
        margin-bottom: 40px;
        border-bottom: 1px dashed #000 !important;
        padding-bottom: 20px;
    }

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 340px) {
    .posters-list a {
        display: block !important;
        margin-bottom: 7px;
    } 
}
@media only screen and (max-width : 320px) {
    .login-form > p {
        width: 100%;
        float: right;
        text-align: center;
    }
    .remember {
        text-align: center;
        float: right;
        width: 100%;
    }
    .remember.terms,
    .captcha
    {
        float: left; 
         width: 100%; 
    }
    .page-content div {
        width: 100% ;
        margin-left: 0;
    }    
}