html,body {
	height: 100%;
	background-color: #7F7F7F;
}
a {
	text-decoration: none !important;
	color: #fff;
}
section.main-container {
	width: 100%;
	padding: 63px 18px 212px 19px;
	height: 100%;
	text-align: center;
	color: #fff;
}
section.main-container.forgot-pass {
	text-align: left;
}
section.main-container h1 {
	margin: 0;
	color: #00FFFF;
	margin-bottom: 20px;
}
section.main-container h3 a {
	color: #FFFF00;
}
.login-content {
	width: 80%;
}
.login-form div.input input {
	margin-bottom: 10px;
}
.login-form > p {
	width: 50%;
	float: right;
	text-align: right;
}
.remember {
	margin-bottom: 10px;
	text-align: left;
}
.btn-login {
	width: 100%;
	border: 1px solid #fff;
}

/*Forgot Pass*/
section.main-container.forgot-pass {
	text-align: left;
}
section.main-container.forgot-pass h3 {
	color: #FFFF00;
	margin-bottom: 30px;
}
.reset-email {
	margin-bottom: 20px;
}
section.main-container.forgot-pass p > a {
	color: #00FFFF;
}
section.main-container.forgot-pass a button.go {
	color: #fff;
	margin-top: 20px;
	width: 100%;
}

/*Create Account*/
section.main-container.create-acct {
	text-align: left;
}
section.main-container.create-acct .login-create .form-group {
	margin-bottom: 5px;
}
section.main-container.create-acct .login-create .terms,
section.main-container.create-acct .login-create .terms p
{
	margin-top: 20px;
	text-align: center;
}
 {
	margin-top: 20px;
	text-align: center;
}
section.main-container.create-acct .login-create .captcha{
	border-color: #FF0000;
	border: 2px solid red;
	height: 120px;
	margin-top: 30px;
	padding: 10px;
}
section.main-container.create-acct .login-create .captcha .input-captcha{
	background-color: #fff;
	margin-top: 20px;
	padding: 30px;
}
.btn-create {
	width: 100%;
	margin-top: 13px;
}

/* Nav.html */
a.settings {
	font-size: 20px;
	position: absolute;
}
/*12 Images*/
section.main-container.images header a,
section.main-container.images header h4
{
	display: inline-block;
}
.view-img a {
	color: #00FFFF;
	background-color: #000;
	padding: 5px;
	width: 100%;
}
.page-content div {
	padding: 0px 4px;
	border: 1px solid #FFFF00;
	margin-bottom: 3px;
	/*margin-left: 3px;*/
	width: 50%;
}
.page-content div span {
	font-size: 9px;
	background-color: #fff;
	display: block;width: 100%;
	color: #000;
	margin-bottom: 3px;
}
.page-content div img {
	width: 100%;
}

/* Cart */
.page-content-cart div.product {
	border: 1px solid #000;
	padding: 10px 0px !important;
	margin-bottom: 10px;
}
.img-wrapper {
	/*border: 1px solid #000;*/
	padding: 0 10px;
}
.img-wrapper img {
	width: 100%;
}
.desc-wrapper span {
	font-size: 10px;
	display: block;
	text-align: left;
}
.desc-wrapper label {
	font-size: 18px;
	float: left;
	margin-top: 50px;
}
table tbody tr td{
	border-top: none;
}



/*Camera*/
.camera {
	background: url(../img/grid-big.png);
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.camera header > p {
	background-color: #FFFF00;
	color: #000;
	font-size: 24px;
	width: 80%;
	margin: auto;
}
.camera-menu {
	height: 80px;
	background-color: #000;
	margin-top: 360px;
}
.camera-menu a {
	margin-right: 10px;
}
.camera-img {
	-ms-transform: rotate(90deg); /* IE 9 */
	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
	transform: rotate(90deg);
}

/*Crop*/
.crop {
	padding-left: 0px !important;
	padding-right: 0px !important;	
}
.crop-image-holder {
	border: 4px solid #FF0000;
	width: 60%;
	margin: auto;
	min-height: 320px;
	background-color: #99ACBD;
}
.crop-menu-wrapper {
	margin-top: 80px;
}
.tool {
	position: relative;
}
.tool-top {
	bottom: 27px;
	right: 66px
}
.tool-bottom {
	top: 288px;
	left: 61px;
}

/*Promo*/
.posters-list a {
	padding: 2px 7px;
	background-color: #0000FF;
	color: #fff
}
.promo-desc {
	text-align: left;
}
.promo-desc small {
	font-size: 9px;
}
.promo-posters > a {
	display: block !important;
	background-color: #0000FF;
	margin-bottom: 7px;
	padding: 6px;
}
.promo-posters > a:hover {
	color: #fff;
}
.ad-list {
	min-height: 75px;
	margin-top: 20px;
}
.item-content .desc {
	font-size: 11px;
	margin-top: 16px;
}
.detail {
	margin-bottom: 30px;
}
.detail div span {
	font-size: 11px;
}
.price {
  font-size: 26px;
}

/* Window Front*/
.window-title {
	border: none !important;
	background-color: #fff;
	color: #000;
	margin: 0 !important;
	width: 100% !important;
	text-transform: uppercase;
}
.window-content div {
	border: none !important;
}
.window-content div span {
	font-size: 18px;
	padding: 10px 3px;
}
.resolution {
	width: 100% !important;
	border: none !important;
}
.resolution label:first-child {
	float: left;
}
.resolution label:last-child {
	float: right;
}

/* Video */
.video-content .video-wrapper {
	border: 1px solid #717171 !important;
	min-height: 250px;
	background-color: #fff;
	margin-bottom: 50px;
}
.video-desc ul li {
	text-align: left;
}
.video-desc ul li a {
	color: #000;	
}
.video-desc ul li a:hover {
	color: #1D53FF;
}

/*Custom*/
.remove-side-padding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.active-ad {
	border: 1px solid #0000FF;
	background-color: #fff !important;
	color: #000 !important;
}